body {
	background: #333;
	color: #222;
	font: 12px/20px 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3 {
	font-weight: normal;
	margin: 30px 0 10px 0;
	padding: 0;
}

a {
	color: #333;
}

blockquote {font-style: italic; font-size: 1.25em; }

table {
  border-collapse: collapse;
  margin: 0 0 0 2em;
}

table, th, td {
  border: 1px solid black;
}

th, td { text-align: center; padding: 5px; }

th { background-color: #D8D8D8; }

#h1_index, #h2_index {text-align: center;}

#header_img {
  width: 682px;
  height: 120px;
  margin: auto;
  background-color: #00065c;
  text-align: center;
  padding: 0;
}

.demographics_half { 
  width: 350px;
  height: 340px;
  float: left; 
}

#content {
	background: #fff;
	margin: 0px auto 0 auto;
	padding: 20px 40px 20px 40px;
  width: 600px;
}

#navigation {
  text-align: center;
}

#page-flip {
  text-align: center;
  margin-top: 50px;
}

#page-flip a {text-decoration: none;}

#index_empty-space {height: 100px;}

#fineprint, #fineprint a { color: #fff; text-align: center; font-size: 11px; text-decoration: none; }
